{% extends 'layouts/base.html.twig' %}

{% block title %}Pagina personala{% endblock %}

{% block content %}

    <p>My name is Bettina and i'm glad to see you on my website!</p>
    <img src="{{ asset("b.jpg") }}">
    <ul>
        <li>1</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>6</li>
    </ul>
    <p>Sent me a feedback!</p>

{% endblock %}