<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>title %}Welcome!{{ number }}</title>
        <link rel="stylesheet" href="{{ asset("css/stil.css") }}">
    </head>
    <body>
    <div>
        <p>My name is Bettina and i'm glad to see you on my website!</p>
        <img src="{{ asset("b.jpg") }}">
        <ul>
            <li>1</li>
            <li>.</li>
           <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>6</li>
        </ul>
        <p>Sent me a feedback!</p>

    </div>


    </body>
</html>
